@model ClienteDTO

<div class="pt-5">
    <h3>Endereço</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Endereco)</dt>
            <dd class="col-sm-10 clear-text-color">@Html.DisplayFor(model => model.Endereco)</dd>

            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Bairro)</dt>
            <dd class="col-sm-10 clear-text-color">@Html.DisplayFor(model => model.Bairro)</dd>

            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Cidade)/@Html.DisplayNameFor(model => model.Estado)</dt>
            <dd class="col-sm-10 clear-text-color">@Html.DisplayFor(model => model.Cidade)/@Html.DisplayFor(model => model.Estado)</dd>

            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Cep)</dt>
            <dd class="col-sm-10 clear-text-color">@Html.DisplayFor(model => model.Cep)</dd>
        </dl>
    </div>
    <div>
        <a asp-action="Editar" asp-route-id="@Model.IdCliente" class="btn btn-padrao">Editar</a>
        <a asp-action="Index" class="btn btn-padrao">Voltar</a>
    </div>
</div>